<!DOCTYPE HTML>
<html>
	<head>
		<title>Josh Courtney</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="static/images/favicon.png">
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <section id="main">
                <header>
                    <span class="avatar"><img src="static/images/avatar-circle.png" width="122" alt="" /></span>
                    <h1>Josh Courtney</h1>
                    <p>Python Developer</p>
                </header>
                <footer>
                    <ul class="icons">
                        <li><a href="" class="icon brands fa-github" title="Github">Github</a></li>
                        <li><a href="" class="icon brands fa-twitter" title="Twitter">Twitter</a></li>
                        <li><a href="" class="icon brands fa-instagram" title="Instagram">Instagram</a></li>
                        <li><a href="" class="icon brands fa-linkedin-in" title="LinkedIn">LinkedIn</a></li>
                    </ul>
                </footer>
            </section>
            <footer id="footer">
                <ul class="copyright">
                    <li>&copy; 2021 Josh Courtney</li>
                </ul>
            </footer>
        </div>
        <script>
            if ('addEventListener' in window) {
                window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
                document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
            }
        </script>
	</body>
</html>